<h1>Arms</h1>

  <ul>
    <% Workout.arms.each do |arms| %>
    <li> <%= arms %> </li>
    <% end %>
  </ul>



  <!DOCTYPE html>
<html>
    <h1>Stronger arms only mean more shopping bags being lifted</h1>


<head>
  <title>Girlbo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>

  
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://vigourandvitality.files.wordpress.com/2013/07/bridge-plank-on-elbows.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.arms[0].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.arms[0].upcase}"%><i class="material-icons right">close</i></span>
    <iframe width="1250" height="800" src="https://www.youtube.com/embed/s4ecj6Z9O-8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.impressive-breast.com/blog/wp-content/uploads/2015/06/adapted-push-ups.png">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.arms[1].upcase}"%><i class="material-icons right">click here for recipe:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.arms[1].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/lvTMV44j1tM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    </div>
     
     
    </div>
   </div> 
     
     
     
     
     
     
     
     
    <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/0611-dip-1441032989.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.arms[2].upcase}"%><i class="material-icons right">click here for recipe:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.arms[2].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/JVSuRO6Rboc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    
 </div>
 </div>


     
     
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>

  
 </div>
 
 
 </div>
</body>
</html>















<!--</style>-->
<!--</head>-->
<!--<body></body>-->

<!--  </div>-->

<!--<head>-->
<!--  <title>Girlbo$$</title>-->
  <!-- Compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
   <!-- Compiled and minified JavaScript -->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>-->
   
<!--   <style>-->
     
<!--   </style>-->
<!--</head>-->
<!--<body>-->

  
<!--  <div class="container">-->
<!--    <div class = "row">-->
<!--      <div class="card col-xl6">-->
<!--        <div class="card-image waves-effect waves-block waves-light">-->
<!--          <img class="activator" src="https://vigourandvitality.files.wordpress.com/2013/07/bridge-plank-on-elbows.jpg"-->
<!--   <div class="card-content">-->
<!--     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.arms[0].upcase}"%><i class="material-icons right">click here for demonstration</i></span>-->
    
    
<!--   </div>-->
<!--   <div class="card-reveal">-->
<!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/s4ecj6Z9O-8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
<!--   </div>-->







<!--</div>-->

<!--<head>-->
<!--  <title>Girlbo$$</title>-->
  <!-- Compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
   <!-- Compiled and minified JavaScript -->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>-->
   
<!--   <style>-->
     
<!--   </style>-->
<!--</head>-->
<!--<body>-->

  
<!--  <div class="container">-->
<!--    <div class = "row">-->
<!--      <div class="card col-xl6">-->
<!--        <div class="card-image waves-effect waves-block waves-light">-->
<!--          <img class="activator" src="http://www.impressive-breast.com/blog/wp-content/uploads/2015/06/adapted-push-ups.png">-->
<!--        </div>-->
<!--   <div class="card-content">-->
<!--     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.arms[1].upcase}"%><i class="material-icons right">click here for demonstration</i></span>-->
    
<!--   </div>-->
<!--   <div class="card-reveal">-->
<!--   <iframe width="560" height="315" src="https://www.youtube.com/embed/lvTMV44j1tM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
<!--   </div>-->
   
   
   
<!--   <head>-->
<!--  <title>Girlbo$$</title>-->
  <!-- Compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
   <!-- Compiled and minified JavaScript -->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>-->
   
<!--   <style>-->
     
<!--   </style>-->
<!--</head>-->
<!--<body>-->
   
   
<!--   <div class="container">-->
<!--    <div class = "row">-->
<!--      <div class="card col-xl6">-->
<!--        <div class="card-image waves-effect waves-block waves-light">-->
<!--          <img class="activator" src="http://www.seanflanaganfitness.com/wp-content/uploads/2014/08/tricep-dips-women.jpg">-->
<!--        </div>-->
<!--   <div class="card-content">-->
<!--     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.arms[2].upcase}"%><i class="material-icons right">click here for demonstration</i></span>-->
    
<!--   </div>-->
<!--   <div class="card-reveal">-->
<!--   <iframe width="560" height="315" src="https://www.youtube.com/embed/JVSuRO6Rboc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
<!--   </div>-->

<!--</body>-->
<!--</html>-->
