<!--<h1>Cardio</h1>-->

<!--  <ul>-->
<!--    <% Workout.cardio.each do |cardio| %>-->
<!--    <li> <%= cardio %> </li>-->
<!--    <% end %>-->
<!--  </ul>-->







<!DOCTYPE html>
<html>
<head>
    <h1>I run this session like cardio</h1>
        <style>
h1 {
  text-align: center;
  color: #AEAFFD ;
  font-family: Vegan Style;
}
</style>
  <title>CardioBo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>

  
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.oxygenmag.com/.image/t_share/MTQ1MzQ3MzE1Njg1NzI5ODQ3/image-placeholder-title.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.cardio[0].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.cardio[0].upcase}"%><i class="material-icons right">close</i></span>
    <iframe width="1250" height="800" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.fairfaxstatic.com.au/content/dam/images/g/u/7/x/c/k/image.related.articleLeadwide.620x349.gv4p5t.png/1490749921544.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.cardio[1].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.cardio[1].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/JOcLPhdgXW0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    </div>
     
     
    </div>
   </div> 
     
     
     
     
     
     
     
     
    <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://ghk.h-cdn.co/assets/cm/15/11/980x680/54ff3d61afd23-1-s2.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.cardio[2].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.cardio[2].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/r7Oyc4jnK4g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    
 </div>
 </div>


     
     
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>

  
 </div>
 
 
 </div>
</body>
</html>











</style>
</head>
<body></body>
