<h1>Core</h1>

  <ul>
    <% Workout.core.each do |core| %>
    <li> <%= core %> </li>
    <% end %>
  </ul>
  
  

<!DOCTYPE html>
<html>
<head>
    <h1>Suck it up one day and you won't have to suck it in one day</h1>
  <title>CoreBo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>

  
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://media1.popsugar-assets.com/files/thumbor/NpWpiaoZCsPWiImEqasGpeO-uXY/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/03/17/884/n/1922729/79bc07ee5cb226ab_woman-doing-sit-ups/i/Core-Full-Sit-Ups.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.core[0].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.core[0].upcase}"%><i class="material-icons right">close</i></span>
    <iframe width="1250" height="800" src="https://www.youtube.com/embed/Uj5zCvVms84" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://media1.popsugar-assets.com/files/thumbor/iW44GUh-O0aQG2kOPzTWj1V4mGg/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/02/21/077/n/1922729/314032104698e70c_v-sits/i/V-Sits.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.core[1].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.core[1].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/gVC5GpaRQzs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
     
     
    </div>
   </div> 
     
     
     
     
     
     
     
     
    <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://womensgolfcontent.com/wp-content/uploads/2017/09/Superman-back-extension.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.core[2].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.core[2].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/z5_STjkktxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    
 </div>
 </div>


     
     
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>

  
 </div>
 
 
 </div>
</body>
</html>











</style>
</head>
<body></body>














