<h1>Leg Exercises</h1>

  <ul>
    <% Workout.legs.each do |legs| %>
    <li> <%= legs %> </li>
    <% end %>
  </ul>







<!DOCTYPE html>
<html>
<head>
    <h1>After leg day, stairs are your worst enemy</h1>
  <title>LegsBo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>

  
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.theyknows.com/wp-content/uploads/2016/11/Jumping-Squats.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.legs[0].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.legs[0].upcase}"%><i class="material-icons right">close</i></span>
    <iframe width="1250" height="1250" src="https://www.youtube.com/embed/TH5TwfCld-s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://media1.popsugar-assets.com/files/thumbor/ulwNJhQyRHm3fpaOO4pd9S9-s9g/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/05/06/948/n/1922729/e5e4b59bbbc65f84_donkey-kick/i/Circuit-Three-Donkey-Kick-Pulses-Series.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.legs[1].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.legs[1].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/dtu1uC8qvDw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
     
     
    </div>
   </div> 
     
     
     
     
     
     
     
     
    <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://womensrunning-gy3ykgdmyg8v.stackpathdns.com/wp-content/uploads/2015/04/quads-630x420.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.legs[2].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.legs[2].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="https://www.youtube.com/embed/4yJiAoAXTfU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    
 </div>
 </div>







