<!DOCTYPE html>
<html>
<head>
  <title>SnackBo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>
  <h1>SnackBo$$</h1>
    <style>
h1 {
  text-align: center;
  color: #AEAFFD ;
  font-family: Vegan Style;
}
</style>
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://noblepig.com/images/2013/01/Dill-Pickle-Popcorn.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Meal.snack[0].upcase}"%><i class="material-icons right">click here for recipe:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Meal.snack[0].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="<h2>Ingredients</h2>
<ul>
<li>1/2 bunch kale, chopped (about 4 cups)</li>
<li>2 teaspoons grapeseed oil</li>
<li>1/4 teaspoon sea salt</li>
<li>2 teaspoons lemon zest</li>
<li>10 cups popped popcorn</li>
</ul>

<h2>Instructions</h2>
<ol>
<li>Preheat oven to 325 F</li>
<li>Make sure kale is completely dry and then toss with olive oil and salt.</li>
<li>Place on baking sheet and cook until crispy; about 11 minutes. Stir once or twice during cooking and be careful not to burn it. Remove and let cool.</li>
<li>Place cooled kale in food processor along with lemon zest and grind into a fine powder. Add to prepared popcorn.</li>
</ol>"%></p>
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.pinimg.com/736x/f3/d8/da/f3d8da41d04502b384c567125810c49d--lemon-coconut-banana-coconut.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Meal.snack[1].upcase}"%><i class="material-icons right">click here for recipe:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Meal.snack[1].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h2>Ingredients</h2>
<ul>
<li>1 cup strawberries - stemmed</li>
<li>1 cup vanilla almond milk</li>
<li>1 pear - chopped</li>
<li>1 cup ice</li>
<li>1 blood orange - peeled</li>
<li>1 tbsp coconut flakes</li>
</ul>

<h2>Instructions</h2>
<ol>
<li>Blend all ingredients together in blender until smooth.</li>
</ol>

"}"%></p>
     
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>
 </div>
 </div>
 <div class="container">
 <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.theroadtohoney.com/wp-content/uploads/2015/03/Granola-Bars-2-1-of-1.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Meal.snack[2].upcase}"%><i class="material-icons right">click here for recipe:)</i></span>
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Meal.snack[2].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h2>Ingredients</h2>
<ul>
<li>1/2 cup Maple Syrup</li>
<li>1/2 cup Nut or Seed Butter (I used a mix of Tahini and Sunflower Butter)</li>
<li>1/4 cup Oat Flour*</li>
<li>2 1/2 cup Rolled Oats</li>
<li>1/3 cup Sunflower Seeds</li>
<li>1/3 cup Pumpkin Seeds</li>
<li>1/2 cup Cranberries (or other dried fruit of choice)</li>
<li>2 tbsp Cacao Nibs or mini Chocolate Chips</li>
<li>Pinch of Salt</li>
</ul>

<h2>Instructions</h2>
<ol>
<li>First, add the Maple Syrup and Nut/Seed Butter to a medium bowl. Mix until well combined.</li>
<li>Add in the Oat Flour with a pinch of Salt, and mix again until well-incorporated.</li>
<li>Next, add the remaining ingredients to the bowl and stir well, until the sticky mixture is evenly coating all Granola Bar pieces.</li>
<li>Line a 9×9″ baking tin with parchment paper, and firmly press the Granola Bar mixture into the tin. Let sit for 15-20 minutes, to allow the Oats to absorb any extra moisture.</li>
<li>Cut the Granola Bars in the pan, then carefully remove. Store at room temperature for up to 6 days.</li>
</ol>



"}"%></p>
     
     
     
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>

      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://hips.hearstapps.com/del.h-cdn.co/assets/17/39/1506346931-delish-cinnamon-apple-chips-pinterest-still002.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Meal.snack[3].upcase}"%><i class="material-icons right">click here for recipe:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Meal.snack[3].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h2>Ingredients</h2>
<ul>
<li>2 apples</li>
<li>1 teaspoon cinnamon</li>
</ul>

<h2>Instructions</h2>
<ol>
<li>Position oven racks in the upper and lower third of oven.</li>
<li>Preheat oven to 225 ℉.</li>
<li>Line 2 baking sheets with parchment paper. Set aside.</li>
<li>Wash and dry the apples.</li>
<li>Core apples (optional).</li>
<li>Slice apples as thin as possible (about 1/8 inch) with a very sharp knife or a mandolin (leave skin on).</li>
<li>Place apples on the baking sheet in a single layer and not touching each other.</li>
<li>Sprinkle cinnamon evenly over apple slices.</li>
<li>Bake for approximately 1 hour and then turn each slice over, and continue to bake for at least another hour so. The longer they stay, they crispier they get.</li>
<li>Best served the day they are made. Can be stored in an airtight container for a few days.</li>
</ol>

"}"%></p>
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>
 </div>
 
 
 </div>
</body>
</html>