<!--<h1>Self Defense</h1> -->

<!--  <ul>-->
<!--    <% Self_Defense.tips_techniques.each do |tips_techniques| %>-->
<!--    <li> <%= tips_techniques %> </li>-->
<!--    <% end %>-->
<!--  </ul>-->
  
 
 
 
 
 
  
<!DOCTYPE html>
<html>
<head>
    <h1>$TAY $AFE</h1>
        <style>
h1 {
  text-align: center;
  color: #AEAFFD ;
  font-family: Vegan Style;
}
</style>
  <title>TipsTechsBo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>

  
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2017/10/24/16/02/mcdc7_vagus_nerve_stimulator-8col.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[0].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     
   
        <span class="card-title grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[0].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h3>Instructions</h3>
<p>A weak blow to the vagus nerve, which is found right below the ear on the neck, will result in intense pain and muscle spasms for your attacker.</p>
"}"%></p>
     
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.wikihow.com/images/thumb/d/de/Break-an-Attacker%27s-Nose-Step-4.jpg/aid1106300-v4-728px-Break-an-Attacker%27s-Nose-Step-4.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[1].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
       
       <span class="card-title grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[1].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h3>Instructions</h3>
<p>Target your attacker's nose with an upwards palm strike. This is more effective than coming from the side or front.</p>
"}"%></p>
     
     
    </div>
     
     
    </div>
   </div> 
     
     
     
     
     
     
     
     
    <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://keyselfdefenseproducts.com/wp-content/uploads/2014/02/tk33.png">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[2].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[2].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h3>Instructions</h3>
<p>Keys are an example of an everyday item that can be used as self defense. Look at the photos on the front to see how to hold your keys and where to place your blows.</p>
"}"%></p>
    
 </div>
 </div>
 
 <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://www.wikihow.com/images/thumb/e/e0/Escape-a-Katate-Dori-%28wrist-Hold%29-in-Iwama-Ryu-Aikido-Step-4.jpg/aid14237-v4-728px-Escape-a-Katate-Dori-%28wrist-Hold%29-in-Iwama-Ryu-Aikido-Step-4.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[3].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Self_Defense.tips_techniques[3].upcase}"%><i class="material-icons right">close</i></span>
     <p><%="#{"<h3>Instructions</h3>
<p>Trying to pull away from your attacker is NOT the way to escape them. Instead, turn your wrist so that your thumb lines up with where the attacker's thumb and fingers meet. Then, jerk away sharply by bending your arm at the elbow. </p>
"}"%></p>
    
 </div>
 </div>

     
     
     
     
     
     
     
     
     
   </div>
   </div>
   