<h1>Self Defense</h1> 

  <ul>
    <% Self_Defense.tips_techniques.each do |tips_techniques| %>
    <li> <%= tips_techniques %> </li>
    <% end %>
  </ul>
  
 
 
 
 
 
  
<!DOCTYPE html>
<html>
<head>
    <h1>SAFE</h1>
  <title>TipsTechsBo$$</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
   
   <style>
     
   </style>
</head>
<body>

  
  <div class="container">
    <div class = "row">
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://keyselfdefenseproducts.com/wp-content/uploads/2014/02/tk33.png">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.legs[0].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.legs[0].upcase}"%><i class="material-icons right">close</i></span>
    <iframe width="1250" height="1250" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     
     
     
     
     
     
     
     
     
   </div>
   </div>
      <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://3.bp.blogspot.com/-1dvfaAWmcxA/UBvYYvcz6FI/AAAAAAAABN0/4k1XnRKys_Q/s1600/Teri_Coffee_McDuffie-540.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.legs[1].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.legs[1].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
     
     
    </div>
   </div> 
     
     
     
     
     
     
     
     
    <div class="card col-xl6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.ytimg.com/vi/iyJBzVDr3ps/maxresdefault.jpg">
        </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><%="#{Workout.legs[2].upcase}"%><i class="material-icons right">click here for demonstration:)</i></span>
    
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4"><%="#{Workout.legs[2].upcase}"%><i class="material-icons right">close</i></span>
     <iframe width="1250" height="1250" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    
 </div>
 </div>

     
     
     
     
     
     
     
     
     
   </div>
   </div>
   